body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-item{
  margin-left: 2px;
  width: 150px;
}

/* .navbar{
  position: absolute;
width: 1920px;
height: 103px;
left: 0px;
top: 50px;
background: #FFFFFF;
} */

.nav-item .sell{
  position: absolute;
  width: 126px;
  height: 39px;
  /* left: 0; */
  right: 50px;
  top: 35px;
  /* color: white; */
  
  background: #CA000F;
  border-radius: 25.5px;
}

.header{
  background-image: url(./files/Mask\ Group.svg);
  /* padding: 20%; */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
}
.im{
  background-image: url(./files/imgss.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.lm{
  background-image: url(./files/group.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lms{
  background-image: url(./files/group1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.h2, .h23{
  border-bottom: solid #FF9900;
  /* border-width: 5px; */
  width: 20%;
  /* text */
}


p.text-start{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

.lmm{
  background-image: url(./files/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}